* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
nav {
  background-color: #10375c;
  color: aliceblue;
  padding: 10px 20px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.nav-left {
  margin-left: 42px;
}
.nav-actions {
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
}
.nav-menu {
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
}
.nav-actions li {
  list-style: none;
  margin-top: 5px;
  margin-right: 10px;
}
.nav-actions li:hover {
  cursor: pointer;
  color: #ff5722;
}

.nav-menu li {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  list-style: none;
  margin-top: 5px;
  margin-right: 60px;
}

.nav-menu li:hover {
  color: white;
  cursor: pointer;
  text-decoration: underline;
}

.nav-left h1 {
  margin-top: 20px;
}

.nav-center {
  margin-top: 20px;
  margin-left: 160px;
}

.nav-right {
  display: flex;
  flex-wrap: wrap;
}
.nav-right img {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  margin-top: 15px;
  margin-left: 200px;
}

.hero-section {
  height: 500px;
  width: 100%;
  margin-top: 10px;
  color: #10375c;
  background-image: url("./img/ff5931fd-a4b0-4f4a-a70d-6ecc24030fb3.png");
  background-size: cover;
  background-position: center;
}
/* .hero-section {
  width: 100%;
  background-size: cover;
  background-position: center;
} */

.hero-content h5 {
  border-bottom: #ff5722 solid 2px;
  width: 97px;
  color: #ff5722;
}
.hero-content {
  position: relative;
  top: 200px;
  left: 130px;
}
.hero-content button {
  border-radius: 20px;
  color: #ff5722;
  background-color: white;
}

.search-box {
  background-color: #10375c;
  max-width: 735px;
  width: 90%;
  height: 135px;
  border-radius: 8px;
  position: relative;
  top: -61px;
  margin: auto;
  color: aliceblue;
}

.search-form form {
  display: flex;
  flex: row;
  flex-wrap: wrap;
  margin-top: -10px;
}

.form-group {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  margin-left: 60px;
}

.search-box h2 {
  padding-left: 54px;
  padding-top: 13px;
}

.search-button {
  background-color: #ff5722;
  color: white;
  padding: 9px;
  border-radius: 8px;
  width: 200px;
  margin-top: -6px;
}

.section-title {
  width: 100%;
  display: flex;
  justify-content: center;
}

.step-find {
  display: flex;
  grid-row: 1;
}
.step-find img {
  width: 30px;
  height: 30px;
}
.step-text {
  width: 200px;
  font-size: 10px;
  gap: 7px;
  display: flex;
  flex-direction: column;
}
.step-agent {
  display: flex;
  font-size: 10px;
  grid-row: 1;
}

.step-agent img {
  width: 30px;
  height: 30px;
}

.step-agent-text {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.step-move {
  display: flex;
  font-size: 10px;
  grid-row: 1;
}

.step-move img {
  width: 30px;
  height: 30px;
}

.step-move-text {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.steps-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  justify-content: space-around;
}
.how-it-works {
  background-color: #ff57221c;
  margin-top: -134px;
  padding-top: 100px;
  padding-bottom: 30px;
}

.featured-section {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 20px;
}
.property-types {
  margin-left: 200px;
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.property-types .type-home:hover {
  background-color: #ff5722;
  color: aliceblue;
  cursor: pointer;
}

.property-types .type-villa:hover {
  background-color: #ff5722;
  color: aliceblue;
  cursor: pointer;
}

.featured-section span {
  margin-left: 95px;
  border-bottom: #ff5722 solid 2px;
}
.featured-section a {
  text-decoration: none;
  margin-left: 115px;
}
.featured-section h5 {
  border-bottom: #ff5722 solid 2px;
  color: #ff5722;
  margin-top: 5px;
}

.featured-section .type-apatment:hover {
  background-color: #ff5722;
  color: aliceblue;
  cursor: pointer;
}
.property-types span {
  border-bottom: #ff5722 solid 2px;
}

.type-home {
  border: black solid 1px;
  width: 74px;
  padding: 4px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  gap: 7px;
  height: 30px;
}
.type-villa {
  border: black solid 1px;
  width: 74px;
  padding: 4px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  gap: 7px;
  height: 30px;
}
.type-apatment {
  border: black solid 1px;
  width: 107px;
  padding: 4px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  gap: 7px;
  height: 30px;
}
.type-home img {
  width: 20px;
  height: 20px;
}
.type-villa img {
  width: 20px;
  height: 20px;
}
.type-apartment img {
  width: 20px;
  height: 20px;
}

.rent-amount p {
  margin-top: 3px;
  margin-bottom: 3px;
  color: #10375c;
}

.rent-amount span {
  font-size: 10px;
  color: #ff5722;
}

.type-apartment {
  border: black solid 1px;
  width: 102px;
  padding: 4px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  gap: 7px;
}
.feature-bed img {
  width: 15px;
  height: 15px;
}
.feature-bed {
  font-size: 8px;
}
.feature-wifi img {
  width: 15px;
  height: 15px;
}
.feature-wifi {
  font-size: 8px;
}

.property-info {
  display: flex;
  margin-top: 5px;
}
.property-features {
  display: flex;
  flex-direction: row;
  margin-left: 45px;
  gap: 7px;
}

.image-group {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  font-size: 10px;
  align-items: center;
}
.image-group img {
  width: 35px;
  height: 30px;
  border-radius: 13px;
}
.image-group img:nth-child(2),
.image-group img:nth-child(3),
.image-group img:nth-child(4) {
  margin-left: -15px;
}

.explore-button button {
  background-color: #ff5722;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  width: 110px;
  height: 30px;
  margin-top: 10px;
  margin-left: 40px;
  font-size: 9px;
  color: white;
}
.explore-button button:hover {
  cursor: pointer;
}
.property-image img {
  width: 249px;
  height: 343px;
  padding: 2px;
  border-radius: 20px;
}
.property-details {
  margin-left: 10px;
}

.property-card {
  width: 237px;
  height: 548px;
  border-radius: 10px;
}
.property-info h4 {
  width: 103px;
}
.property-main {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  gap: 30px;
  justify-content: center;
}
#property-image1 {
  margin-top: 13px;
}
#property-image1:hover {
  box-shadow: 22px;
  cursor: pointer;
}
.property-main:hover {
  box-shadow: 22px;
  cursor: pointer;
}
.city-section {
  display: flex;
  flex-direction: row;
}
.city-section span {
  margin-left: 95px;
  border-bottom: #ff5722 solid 2px;
}
.city-section a {
  text-decoration: none;
  margin-left: 115px;
}
.city-section h5 {
  border-bottom: #ff5722 solid 2px;
  color: #ff5722;
  margin-top: 5px;
  margin-left: 620px;
}

.city-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
  margin-left: 20px;
  margin-top: 20px;
  overflow-x: auto;
}

.city-img1 {
  background-image: url(./img/Screenshot\ 2026-01-09\ 173738.png);
  width: 164px;
  height: 500px;
}
.city-img1 h4 {
  position: relative;
  left: 50px;
  top: 450px;
  color: #ff5722;
}

.city-img2 {
  background-image: url(./img/Screenshot\ 2026-01-09\ 173659.png);
  width: 164px;
  height: 500px;
}
.city-img2 h4 {
  position: relative;
  left: 27px;
  top: 450px;
  color: #ff5722;
}
.city-img3 {
  background-image: url(./img/Screenshot\ 2026-01-09\ 173641.png);
  width: 164px;
  height: 500px;
}
.city-img3 h4 {
  position: relative;
  left: 27px;
  top: 450px;
  color: #ff5722;
}
.city-img4 {
  background-image: url(./img/Screenshot\ 2026-01-09\ 173746.png);
  width: 164px;
  height: 500px;
}
.city-img4 h4 {
  position: relative;
  left: 27px;
  top: 450px;
  color: #ff5722;
}
.city-img5 {
  background-image: url(./img/1.png);
  width: 164px;
  height: 500px;
}
.city-img5 h4 {
  position: relative;
  left: 27px;
  top: 450px;
  color: #ff5722;
}
.city-img6 {
  background-image: url(./img/2.png);
  width: 164px;
  height: 500px;
}
.city-img6 h4 {
  position: relative;
  left: 27px;
  top: 450px;
  color: #ff5722;
}
.city-img7 {
  background-image: url(./img/3.png);
  width: 164px;
  height: 500px;
}
.city-img7 h4 {
  position: relative;
  left: 27px;
  top: 450px;
  color: #ff5722;
}


.city-img2,
.city-img4,
.city-img6,
.city-img8 {
  margin-top: 20px;
}
/* .host-section {
  background-image: url("./img/ff5931fd-a4b0-4f4a-a70d-6ecc24030fb3.png");
  height: 500px;
  width: 1262px;
  margin-top: 10px;
  color: #10375c;
}
.HOST-content h5 {
  border-bottom: #ff5722 solid 2px;
  width: 97px;
  color: #ff5722;
}
.HOST-content {
  color: #590F1C;
  position: relative;
  top: -223px;
  left: 285px;
}
.HOST-content button {
  background-color: #ff5722;
  color: white;
  padding: 5px 10px 5px 10px;
  margin-top: 30px;
}
.HOST-content button:hover{
  cursor: pointer;
}

.HOST-section img {
  width: 900px;
  height: 300px;
  margin-left: 160px;
  margin-top: 80px;
}  */
.phone-img img {
  width: 100%;
  height: 400px;
  margin-top: 50px;
  
}

.patners-content {
  margin-left: 170px;
  margin-top: 150px;
}

.patners-section {
  height: 400px;
  display: flex;
  flex-direction: row;
  gap: 200px;
}
/* ----------------------------------------------------- */
.feedback {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  margin-top: 85px;
  font-size: 20px;
}
.feedback p {
  margin-top: 1px;
  margin-bottom: 4px;
  font-size: 10px;
}
.feedback hr {
  border: none;
  height: 2px;
  background-color: black;
  width: 158px;
  margin-top: 2px;
}

/* -----------------FOOTER------------------ */

.footer {
  background-color: #10375c;
}
.footer span {
  color: #ff5722;
}
.footer-frist-row-icons{
  margin-left: -10px;
}
.footer-details {
  display: flex;
  flex-direction: row;
  margin-left: 50px;
  padding: 30px;
  margin-top: 50px;
  margin-left: 180px;
  gap: 10px;
}

.footer-frist-row-topic,
.footer-frist-row-para,
.footer-frist-row-icons {
  margin-top: 15px;
  margin-bottom: 5px;
}

.footer-frist-row-para2 {
  margin-top: 10px;
}
.footer-second-row-subtopic li {
  list-style: none;
  margin-top: 18px;
}
.footer-second-row-subtopic li:hover {
  cursor: pointer;
  color: #ff5722;
}
.footer-third-row-subtopic li:hover {
  cursor: pointer;
  color: #ff5722;
}

.footer-third-row-subtopic li {
  list-style: none;
  margin-top: 18px;
}

.footer-serach-mail-box {
  padding: 5px 1px 4px 17px;
  border-radius: 3px;
  margin-top: 10px;
  color: rgb(196, 32, 32);
  background-color: #5696d2;
  border: none;
}
.footer-serach-mail-box:focus {
  outline: none;
  border: none;
  box-shadow: none;
}
/* --------------------------------------- */
@media (max-width: 600px) {
  
}
