/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* NAVBAR */
nav {
  background-color: #10375c;
  color: white;
  display: flex;
  align-items: center;
  padding: 15px 40px;
}

.nav-actions,
.nav-menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-menu li:hover {
  color: red;
  text-decoration: underline;
  cursor: pointer;
}

.nav-right img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* HERO */
.hero-section {
  height: 500px;
  background-image: url("./img/ff5931fd-a4b0-4f4a-a70d-6ecc24030fb3.png");
  background-size: cover;
  background-position: center;
}

.hero-content {
  position: relative;
  top: 200px;
  left: 130px;
  color: #10375c;
}

.hero-content h5 {
  color: #ff5722;
  border-bottom: 2px solid #ff5722;
  width: fit-content;
}

/* SEARCH BOX */
.search-box {
  background-color: #10375c;
  color: white;
  width: 700px;
  margin: -60px auto;
  padding: 20px;
  border-radius: 8px;
}

.search-form {
  display: flex;
  justify-content: space-between;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group input {
  padding: 8px;
  border-radius: 5px;
}

/* BUTTON */
.search-button {
  background-color: #ff5722;
  color: white;
  padding: 10px;
  border-radius: 8px;
  margin-top: 10px;
  cursor: pointer;
}
