.parent {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 20px;
}

.div1 {
  grid-column: span 5 / span 5;
  color: black;
  text-align: center;
  background-color: gray;
  padding: 20px;
}

.div2 {
  grid-row: span 4 / span 4;
  grid-row-start: 2;
  color: black;
  text-align: center;
  background-color: gray;
  padding: 20px;
}

.div3 {
  grid-column: span 4 / span 4;
  grid-row: span 2 / span 2;
  grid-row-start: 2;
  color: black;
  text-align: center;
  background-color: gray;
  padding: 20px;
}

.div4 {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-column-start: 2;
  grid-row-start: 4;
  color: black;
  text-align: center;
  background-color: gray;
  padding: 20px;
}

.div5 {
  grid-column: span 5 / span 5;
  grid-row-start: 6;
  color: black;
  text-align: center;
  background-color: gray;
  padding: 20px;
}
.div6 {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-column-start: 4;
  grid-row-start: 4;
  color: black;
  text-align: center;
  background-color: gray;
  padding: 20px;
}
.div7 {
  grid-column: span 6 / span 5;
  grid-row: span 6/ span 5;
  grid-column-start: 1;
  grid-row-start: 7;
  color: black;
  text-align: center;
  background-color: gray;
  padding: 20px;
}
