* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: lightcoral;
  height: 60px;
  align-items: center;
}

.nav-heading {
  color: white;
  margin-left: 10px;
}

.nav-div {
  display: flex;
  gap: 20px;
  margin-right: 20px;
}

.search-recipe input {
  padding: 5px 20px;
  border-radius: 5px;
}

.search-btn {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: green;
  color: white;
}

.cut {
  width: 30px;
  height: 30px;
  background-color: red;
  border-radius: 50%;
  color: white;
}
.cut p {
  margin-left: 10px;
  margin-top: 6px;
  font-weight: bold;
}

/* main */
main {
  background-color: lightpink;
  margin-top: 20px;
}

h4 {
  color: black;
}

.food-type {
  display: flex;
  justify-content: space-around;
  margin-top: 22px;
}

.food-type select {
  margin-left: 900px;
}

.BRIYANI {
  border: 2px solid white;
  border-radius: 20px;
  width: 250px;
  margin-top: 22px;
  height: 84%;
  min-width: 350px;
  margin-left: 30px;
  padding: 20px;
  background-color: aliceblue;
  box-shadow: 2px 2px black;
  margin-left: 20px;
}

#BRIYANI1,
#BRIYANI2,
#BRIYANI3 {
  margin-left: 10px;
  padding: 8px;
  width: 75px;
  margin-top: 12px;
  border-radius: 5px;
  padding: 5px 10px;
  color: aliceblue;
}

#BRIYANI1,
#BRIYANI2,
#BRIYANI3 :hover {
  cursor: pointer;
}

.BRIYANI img {
  margin-top: 22px;
  width: 350px;
  margin-left: 5px;
  border-radius: 3px;
  height: 250px;
}

.Recipes-col1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.MASALADOSA {
  border: 2px solid white;
  border-radius: 20px;
  width: 250px;
  margin-top: 22px;
  height: 84%;
  min-width: 350px;
  margin-left: 30px;
  padding: 20px;
  background-color: aliceblue;
  box-shadow: 2px 2px black;
  margin-left: 20px;
}

#MASALADOSA1,
#MASALADOSA2,
#MASALADOSA3 {
  margin-left: 10px;
  padding: 8px;
  width: 75px;
  margin-top: 12px;
  border-radius: 5px;
  padding: 5px 10px;
  color: aliceblue;
}

#MASALADOSA1,
#MASALADOSA2,
#MASALADOSA3 :hover {
  cursor: pointer;
}
.MASALADOSA img {
  margin-top: 22px;
  width: 350px;
  margin-left: 5px;
  border-radius: 3px;
  height: 250px;
}

.IDLY {
  border: 2px solid white;
  border-radius: 20px;
  width: 250px;
  margin-top: 22px;
  height: 84%;
  min-width: 350px;
  margin-left: 30px;
  padding: 20px;
  background-color: aliceblue;
  box-shadow: 2px 2px black;
  margin-left: 20px;
}

#IDLY1,
#IDLY2,
#IDLY3 {
  margin-left: 10px;
  padding: 8px;
  width: 75px;
  margin-top: 12px;
  border-radius: 5px;
  padding: 5px 10px;
  color: aliceblue;
}

#IDLY1,
#IDLY2,
#IDLY3 :hover {
  cursor: pointer;
}
.IDLY img {
  margin-top: 22px;
  width: 350px;
  margin-left: 5px;
  border-radius: 3px;
  height: 250px;
}
.Paneer {
  border: 2px solid white;
  border-radius: 20px;
  width: 250px;
  margin-top: 22px;
  height: 84%;
  min-width: 350px;
  margin-left: 30px;
  padding: 20px;
  background-color: aliceblue;
  box-shadow: 2px 2px black;
  margin-left: 20px;
}

#Paneer1,
#Paneer2,
#Paneer3 {
  margin-left: 10px;
  padding: 8px;
  width: 75px;
  margin-top: 12px;
  border-radius: 5px;
  padding: 5px 10px;
  color: aliceblue;
}

#Paneer1,
#Paneer2,
#Paneer3 :hover {
  cursor: pointer;
}

.Recipes-col2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.Paneer img {
  margin-top: 22px;
  width: 350px;
  margin-left: 5px;
  border-radius: 3px;
  height: 250px;
}
.medu-vada {
  border: 2px solid white;
  border-radius: 20px;
  width: 250px;
  margin-top: 22px;
  height: 84%;
  min-width: 350px;
  margin-left: 30px;
  padding: 20px;
  background-color: aliceblue;
  box-shadow: 2px 2px black;
  margin-left: 20px;
}

#medu-vada1,
#medu-vada2,
#medu-vada3 {
  margin-left: 10px;
  padding: 8px;
  width: 75px;
  margin-top: 12px;
  border-radius: 5px;
  padding: 5px 10px;
  color: aliceblue;
}

#medu-vada1,
#medu-vada2,
#medu-vada3 :hover {
  cursor: pointer;
}
.medu-vada img {
  margin-top: 22px;
  width: 350px;
  margin-left: 5px;
  border-radius: 3px;
  height: 250px;
}

.Puliyodarai {
  border: 2px solid white;
  border-radius: 20px;
  width: 250px;
  margin-top: 22px;
  height: 84%;
  min-width: 350px;
  margin-left: 30px;
  padding: 20px;
  background-color: aliceblue;
  box-shadow: 2px 2px black;
  margin-left: 20px;
}

#Puliyodarai1,
#Puliyodarai2,
#Puliyodarai3 {
  margin-left: 10px;
  padding: 8px;
  width: 75px;
  margin-top: 12px;
  border-radius: 5px;
  padding: 5px 10px;
  color: aliceblue;
}

#Puliyodarai1,
#Puliyodarai2,
#Puliyodarai3 :hover {
  cursor: pointer;
}
.Puliyodarai img {
  margin-top: 22px;
  width: 350px;
  margin-left: 5px;
  border-radius: 3px;
  height: 250px;
}
.Chettinad-Chicken {
  border: 2px solid white;
  border-radius: 20px;
  width: 250px;
  margin-top: 22px;
  height: 84%;
  min-width: 350px;
  margin-left: 30px;
  padding: 20px;
  background-color: aliceblue;
  box-shadow: 2px 2px black;
  margin-left: 20px;
}

#Chettinad-Chicken1,
#Chettinad-Chicken2,
#Chettinad-Chicken3 {
  margin-left: 10px;
  padding: 8px;
  width: 75px;
  margin-top: 12px;
  border-radius: 5px;
  padding: 5px 10px;
  color: aliceblue;
}

#Chettinad-Chicken1,
#Chettinad-Chicken2,
#Chettinad-Chicken3 :hover {
  cursor: pointer;
}
.Chettinad-Chicken img {
  margin-top: 22px;
  width: 350px;
  margin-left: 5px;
  border-radius: 3px;
  height: 250px;
}

.Recipes-col3 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.Bisi-Bele-Bath {
  border: 2px solid white;
  border-radius: 20px;
  width: 250px;
  margin-top: 22px;
  height: 84%;
  min-width: 350px;
  margin-left: 30px;
  padding: 20px;
  background-color: aliceblue;
  box-shadow: 2px 2px black;
  margin-left: 20px;
}

#Bisi-Bele-Bath1,
#Bisi-Bele-Bath2,
#Bisi-Bele-Bath3 {
  margin-left: 10px;
  padding: 8px;
  width: 75px;
  margin-top: 12px;
  border-radius: 5px;
  padding: 5px 10px;
  color: aliceblue;
}

#Bisi-Bele-Bath1,
#Bisi-Bele-Bath2,
#Bisi-Bele-Bath3 :hover {
  cursor: pointer;
}
.Bisi-Bele-Bath img {
  margin-top: 22px;
  width: 350px;
  margin-left: 5px;
  border-radius: 3px;
  height: 250px;
}
.Coconut-Chutney {
  border: 2px solid white;
  border-radius: 20px;
  width: 250px;
  margin-top: 22px;
  height: 84%;
  min-width: 350px;
  margin-left: 30px;
  padding: 20px;
  background-color: aliceblue;
  box-shadow: 2px 2px black;
  margin-left: 20px;
}

#Coconut-Chutney1,
#Coconut-Chutney2,
#Coconut-Chutney3 {
  margin-left: 10px;
  padding: 8px;
  width: 75px;
  margin-top: 12px;
  border-radius: 5px;
  padding: 5px 10px;
  color: aliceblue;
}

#Coconut-Chutney1,
#Coconut-Chutney2,
#Coconut-Chutney3 :hover {
  cursor: pointer;
}
.Coconut-Chutney img {
  margin-top: 22px;
  width: 350px;
  margin-left: 5px;
  border-radius: 3px;
  height: 250px;
}

@media screen and (max-width: 768px) {
  nav {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .nav-heading {
    margin-top: 10px;
  }
  .nav-div {
    margin-top: 10px;
    margin-bottom: 5px;
  }
}

/* details css */


.holder {
  margin-left: 200px;
  margin-top: 30px;
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
}

.image {
  width: 800px;
  height: 390px;
  margin-top: 20px;
}

.time-button{

  margin-top: 20px;
}
.matrial {
  margin-top: 10px;
  margin-left: -35px;
  margin-right: 300px;
}
.matrial-used {
  margin-left: 30px;
}
.matrial-used li {
  margin-left: 3px;
  border: solid 3px;
  border-color: dimgray;
  border-radius: 10px;
  background-color: dimgray;
  font-size: 14px;
  padding: 5px 10px;
  display: inline-block;
  margin-top: 7px;
}

.Instructions {
  margin-top: 20px;
}
ol {
  margin-top: 20px;
  margin-bottom: 20px;
}
li {
  margin-top: 2px;
}

@media only screen and (max-width: 600px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
  }
  nav {
    background-color: darksalmon;
    width: 85%;
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .head h1 {
    margin-left: 0px;
    text-align: center;
    color: white;
  }
}